/* HomePage.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url("https://dimg.wavevisual.com/v3/von-sample-2.png?width=3840");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
}

.heading {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #000;
}

.text {
  font-size: 1.5rem;
  margin-bottom: 40px;
  color: #000;
}

.button {
  font-size: 1.2rem;
}

.image {
  width: 150px;
  margin-bottom: 30px;
  background: transparent;
}
